<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Definitely not Kijij</title> -->
    <link rel="stylesheet" type="text/css" href="/styles/header.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka:wght@500;700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

    <!-- CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/homepage.css" />
    <!-- External JS -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/scrollToTop.js"></script>
  </head>
  <body>
    <nav id="navbar">
      <div>
        <img id="logo" src="/images/duck.jpg" alt="duck">
      </div>
      <div class="text">
        <div class="website-name">LARRY'S LIST</div>
        <div class="nav-items">
          <a id="nav-link" href="/">Home</a>
          <a id="nav-link" href="/create">Create Listing</a>
          <a id="nav-link" href="/mylistings">My Listings</a>
          <a id="nav-link" href="/favourites">Favourites</a>
        </div>
      </div>
    </nav>
    <a href="#" class="to-top">
      <span class="fa-solid fa-circle-arrow-up fa-bounce"></span>
    </a>

