
    <% include partials/header.ejs %>
    <h1>Create Post 🥔</h1>
    <form action="/create" method="POST">
      <div class="form-group">
        <label for="title">Title: </label>
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Title"
        />
        <label for="description">Description: </label>
        <input
          class="form-control"
          type="text"
          name="description"
          placeholder="Description"
        />
        <label for="photoURL">Thumbnail Photo URL: </label>
        <input
          class="form-control"
          type="text"
          name="photoURL"
          placeholder="Photo URL"
        />
        <label for="price">Price: </label>
        <input
          class="form-control"
          type="number"
          name="price"
          placeholder="$"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
