<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/header.ejs %>
    <h1>CREATE FORM 🥔</h1>
    <form action="/create" method="POST">
      <div class="form-group">
        <label for="title">Title: </label>
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Title"
        />
        <label for="description">Description: </label>
        <input
          class="form-control"
          type="text"
          name="description"
          placeholder="Description"
        />
        <label for="photoURL">Thumbnail Photo URL: </label>
        <input
          class="form-control"
          type="url"
          name="photoURL"
          placeholder="Photo URL"
        />
        <label for="price">Price: </label>
        <input
          class="form-control"
          type="number"
          name="price"
          placeholder="$"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
