<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <% include partials/header.ejs %>
  <h1>My Listings 🥔</h1>
  <div style="display: flex">
    <form action="mylisting/edit">
      <input type="submit" value="Edit" />
    </form>
  <!-- <form method="POST" action="/mylistings/edit">
    <button type="submit" class="btn btn-primary">Edit</button> -->
  </form>
  <form method="POST" action="/mylistings/delete">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
  </form>
  <form method="POST" action="/mylistings/sold?_method=POST">
    <button type="submit" class="btn btn-primary">Sold</button>
  </form>
  </div>
</body>

</html>
