.filter-container {
  position: fixed;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 150px;
  left: 16px;
}
// .page-header {
//   position: fixed;
// }

form {
  display: flex;
  flex-direction: column;
}


.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 5px solid #FFC600;
  padding: 10px;
  height: 100%;
  min-height: 100px;
  border-radius: 1em;
  justify-content: space-between;
}

.product:hover {
  // box-shadow: 4px 4px #d7d9f5;
  box-shadow: 4px 4px #072AC8;
}

img {
  max-height: 150px;
  margin: 0;
}

.thumbnail {
  flex-basis: 100px;
  flex-shrink: 0;
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  border: 1px solid #FFC600;

}

.details .title {
  font-family: "Fredoka", cursive, sans-serif;
  font: 500;
  font-size: 25px;
  border: 1px solid #FFC600;

}

.description {
  font-family: "Fredoka", cursive, sans-serif;
  border: 1px solid #FFC600;
  height: 100%;

}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-content: space-between;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  font-family: "Fredoka", cursive, sans-serif;
  border: 1px solid #FFC600;

}

.email {
  margin-top: auto;
  font-size: 14px;
  border: 1px solid #FFC600;

}

.favourite {
  margin-left: auto;
  font-size: 14px;
  border: 1px solid #FFC600;

}
