.filter-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 175px;
  left: 16px;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}

.product {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 5px solid #ffc600;
  padding: 10px;
  height: auto;
  min-height: 100px;
  border-radius: 1em;
  justify-content: space-between;
  background-color: wheat;
}

.product:hover {
  box-shadow: 4px 4px #072ac8;
}

img {
  max-height: 150px;
  margin: 0;
}

.thumbnail {
  flex-basis: 100px;
  flex-shrink: 0;
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details .title {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 22px;

}

.description {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  height: 100%;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-content: space-between;
}

.contact-favourite {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  font-family: "Fredoka", sans-serif;
}

.email {
  margin-top: auto;
  font-size: 14px;
}

.favourite {
  margin-left: auto;
  font-size: 14px;
}
