// * {
//   background: salmon;
// }

.input-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elements {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-control {
  display: flex;
  width: 50%;
}
.text-space {
  display: flex;
  width: 50%;
  height: 200px;
}

.button {
  display: flex;
  justify-content: center;
}
