.form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: wheat;
  border: 5px solid #FFC600;
}

.elements {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 90%;
}

.form-control {
  display: flex;
  width: 70%;
}
.text-space {
  display: flex;
  width: 70%;
  height: 200px;
}

.button {
  display: flex;
  justify-content: center;
}

