@import "inputForm", "scrollToTop", "header";
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #a2d6f9;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  font-family: "Fredoka", sans-serif;
  font: 500;
}
